@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Great+Vibes&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&family=Sail&display=swap");
:root {
  --font-signature: "Sail", cursive;
  --font-quotes: "Euphoria Script", cursive;
  --font-cover: "Great Vibes", cursive;
  --font-normal: "Nunito", sans-serif;
  --color-grey-light1: #d8d8d8;
  --color-grey-light2: #ebebeb;
  --color-grey-light3: #fafafa;
  --color-grey-dark1: #616161;
  --color-grey-dark2: #464646;
  --color-grey-dark3: #2e2e2e;
  --color-primary: #003a6a;
  --color-golden: #d4af37;
  --shadow: 5px 5px 2rem 9px var(--color-grey-light2);
  --shadow2: 5px 1px 1rem 10px var(--color-grey-dark1);
  --golden-page-border: url("../img/assets/blackboardborderimg.jpg") 25 round; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--font-normal);
  font-size: 62.5%;
  height: 100vh;
  display: grid;
  color: var(--color-grey-dark3);
  grid-template-columns: repeat(12, 1fr);
  background: var(--color-grey-light3);
  scroll-behavior: smooth; }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 55%;
      background-image: url("../img/assets/woodenboardbg.jpg"); } }

/* width */
::-webkit-scrollbar {
  width: 1px; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f200; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2; }

.main-content {
  grid-column: 2/-2;
  z-index: 1;
  grid-row: 1/2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.book {
  background-image: url("../img/assets/woodenboardbg.jpg"); }
  .book:first-child, .book:last-child {
    box-shadow: var(--shadow); }

.page {
  padding: 1rem;
  box-shadow: var(--shadow2);
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); }
  @media only screen and (max-width: 56.25em) {
    .page {
      padding: 0.5rem; } }
  .page__section {
    background: linear-gradient(#181818, #404040), url("./../img/assets/conf2.jpg"); }
    .page__section__title {
      margin: 50% 0;
      font-family: var(--font-cover);
      font-size: 5rem;
      font-weight: 300;
      letter-spacing: 0.5rem;
      text-align: center;
      color: transparent;
      background: url("./../img/assets/golden.jpg") no-repeat center center;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      filter: brightness(250%); }
      @media only screen and (max-width: 56.25em) {
        .page__section__title {
          font-size: 3.5rem; } }

.quotes-page {
  box-shadow: var(--shadow2);
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); }

.coverpage {
  background: linear-gradient(123deg, #2e99b0 0%, #2e99b0 40%, #fcd77f calc(40% + 1px), #fcd77f 60%, #ff2e4c calc(60% + 1px), #ff2e4c 75%, #1e1548 calc(75% + 1px), #1e1548 100%);
  color: var(--color-grey-dark3);
  font-family: var(--font-cover); }
  .coverpage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    line-height: 1.5;
    word-spacing: 7px;
    border: 0.15rem solid var(--color-golden); }
    @media only screen and (max-width: 56.25em) {
      .coverpage__content {
        padding: 3rem 0; } }
  .coverpage__logo {
    width: 10rem;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .coverpage__logo {
        width: 5rem; } }
  .coverpage__heading {
    padding: 0;
    font-size: 6rem;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .coverpage__heading {
        font-size: 4rem; } }
    .coverpage__heading-sub {
      font-size: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .coverpage__heading-sub {
          font-size: 1.5rem; } }

.backpage {
  background: linear-gradient(123deg, #2e99b0 0%, #2e99b0 40%, #fcd77f calc(40% + 1px), #fcd77f 60%, #ff2e4c calc(60% + 1px), #ff2e4c 75%, #1e1548 calc(75% + 1px), #1e1548 100%);
  color: var(--color-grey-dark3);
  font-family: var(--font-cover); }
  .backpage__content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 0.15rem solid var(--color-golden);
    padding: 0.5rem; }
  .backpage__quotes {
    font-size: 4rem;
    font-weight: 300;
    font-family: var(--font-cover); }
    @media only screen and (max-width: 56.25em) {
      .backpage__quotes {
        font-size: 2rem; } }

.user_profile {
  display: flex;
  border: 0.5rem solid transparent;
  border-image: url("../img/assets/blackboardborderimg.jpg") 25 round;
  background-image: linear-gradient(#181818, #404040); }
  .user_profile__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__container {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem; } }
  .user_profile__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    grid-auto-rows: max-content;
    justify-items: center;
    font-size: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__card {
        grid-row-gap: 0.5rem;
        font-size: 0.7rem; } }
  .user_profile__image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    align-self: center;
    border: 0.1rem solid var(--color-golden);
    padding: 0.5rem;
    object-position: top center; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__image {
        width: 9rem;
        height: 9rem; } }
  .user_profile__name {
    font-family: var(--font-signature);
    color: var(--color-golden);
    text-transform: capitalize;
    text-shadow: 1px 2px #000; }

.quotes {
  background-image: url(../img/assets/quotesbg1.png);
  background-size: cover;
  overflow-y: scroll; }
  .quotes__header {
    background-color: #005e54;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    padding-left: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .quotes__header {
        font-size: 1rem; } }
    .quotes__header__status {
      font-size: 0.9rem; }
      @media only screen and (max-width: 56.25em) {
        .quotes__header__status {
          font-size: 0.7rem; } }
  .quotes__container:nth-of-type(odd) {
    display: flex;
    flex-grow: 0;
    color: white;
    background-color: #075E54;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    margin-left: 0.7rem;
    border-radius: 0px 5px 5px 5px;
    float: left;
    width: 22rem; }
    @media only screen and (max-width: 56.25em) {
      .quotes__container:nth-of-type(odd) {
        width: 12rem;
        font-size: 0.7rem; } }
  .quotes__container:nth-of-type(even) {
    display: flex;
    flex-grow: 0;
    color: white;
    background-color: #075E54;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    margin-right: 0.7rem;
    border-radius: 5px 0px 5px 5px;
    float: right;
    width: 22rem; }
    @media only screen and (max-width: 56.25em) {
      .quotes__container:nth-of-type(even) {
        width: 12rem;
        font-size: 0.7rem; } }

.quotes__container__author {
  color: #e68200;
  font-weight: bolder;
  padding-bottom: 0.5rem; }
  @media only screen and (max-width: 56.25em) {
    .quotes__container__author {
      padding-bottom: 0.2rem; } }

.events {
  background: linear-gradient(#181818ce, #404040ce), url("./../img/assets/conf3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .events__title {
    text-align: center;
    font-size: 3rem;
    padding: 0.5rem 0;
    color: transparent;
    background: url("./../img/assets/golden.jpg") no-repeat center center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(250%);
    width: 100%;
    font-family: var(--font-cover);
    letter-spacing: 2px; }
  .events__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    height: 100%;
    overflow-y: scroll; }
  .events__figure--1-1 {
    grid-column: 1 / -1;
    grid-row: 2 / 3; }
    .events__figure--1-1 + .events__video {
      height: 10rem; }
  .events__figure--2-1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .events__figure--2-2 {
    grid-column: 1 / -1;
    grid-row: 2 / 3; }
  .events__figure--3-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
    .events__figure--3-1 .events__video {
      height: 10rem; }
    .events__figure--3-1 .events__image {
      height: 10rem; }
  .events__figure--3-2 {
    grid-column: 1 / -1;
    grid-row: 2 / 3; }
    .events__figure--3-2 .events__video {
      height: 15rem; }
    .events__figure--3-2 .events__image {
      height: 15rem; }
  .events__figure--3-3 {
    grid-column: span 2 / -1;
    grid-row: 3 / 4; }
    .events__figure--3-3 .events__video {
      height: 10rem; }
    .events__figure--3-3 .events__image {
      height: 10rem; }
  .events__video {
    width: 100%;
    object-position: center;
    height: auto;
    object-fit: contain;
    border-radius: 1.5rem;
    border: 0.2rem dotted var(--color-golden); }
  .events__image {
    width: 100%;
    object-position: center;
    height: auto;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 0.2rem dotted var(--color-golden); }

.menu-bar {
  z-index: 2;
  grid-column: 2/-2;
  grid-row: 1/2;
  justify-self: center; }
  @media only screen and (max-width: 56.25em) {
    .menu-bar {
      grid-row: 2/2; } }
  .menu-bar__button {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    color: white; }
    @media only screen and (max-width: 56.25em) {
      .menu-bar__button {
        padding: 0.25rem 1.25rem;
        font-size: 1rem; } }
  .menu-bar__box {
    padding: 0.5rem 0;
    color: white;
    width: 3rem;
    border: 1px solid white;
    background-color: #181818; }
    @media only screen and (max-width: 56.25em) {
      .menu-bar__box {
        padding: 0.5rem 0;
        width: 3rem; } }
  .menu-bar button {
    background: none;
    border: none; }
