@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Great+Vibes&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&family=Sail&display=swap");
:root {
  --font-signature: "Sail", cursive;
  --font-quotes: "Euphoria Script", cursive;
  --font-cover: "Great Vibes", cursive;
  --font-normal: "Nunito", sans-serif;
  --color-grey-light1: #d8d8d8;
  --color-grey-light2: #ebebeb;
  --color-grey-light3: #fafafa;
  --color-grey-dark1: #616161;
  --color-grey-dark2: #464646;
  --color-grey-dark3: #2e2e2e;
  --color-primary: #003a6a;
  --color-golden: #d4af37;
  --shadow: 5px 5px 2rem 9px var(--color-grey-light2);
  --shadow2: 5px 1px 1rem 10px var(--color-grey-light1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--font-normal);
  font-size: 62.5%;
  height: 100vh;
  display: grid;
  color: var(--color-grey-dark3);
  grid-template-columns: repeat(12, 1fr);
  background: var(--color-grey-light3); }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 55%;
      background-image: url("../img/assets/woodenboardbg.jpg"); } }

.main-content {
  grid-column: 2/-2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.book {
  box-shadow: var(--shadow);
  background-image: url("../img/assets/woodenboardbg.jpg"); }

.page {
  padding: 1rem;
  box-shadow: var(--shadow2);
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); }
  @media only screen and (max-width: 56.25em) {
    .page {
      padding: 0.5rem; } }

.coverpage {
  background: linear-gradient(123deg, #2e99b0 0%, #2e99b0 40%, #fcd77f calc(40% + 1px), #fcd77f 60%, #ff2e4c calc(60% + 1px), #ff2e4c 75%, #1e1548 calc(75% + 1px), #1e1548 100%);
  color: var(--color-grey-dark3);
  font-family: var(--font-cover); }
  .coverpage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    line-height: 1.5;
    word-spacing: 7px;
    border: 0.15rem solid var(--color-golden); }
    @media only screen and (max-width: 56.25em) {
      .coverpage__content {
        padding: 3rem 0; } }
  .coverpage__logo {
    width: 10rem;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .coverpage__logo {
        width: 5rem; } }
  .coverpage__heading {
    padding: 0;
    font-size: 6rem;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .coverpage__heading {
        font-size: 4rem; } }
    .coverpage__heading-sub {
      font-size: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .coverpage__heading-sub {
          font-size: 1.5rem; } }

.backpage {
  background: linear-gradient(123deg, #2e99b0 0%, #2e99b0 40%, #fcd77f calc(40% + 1px), #fcd77f 60%, #ff2e4c calc(60% + 1px), #ff2e4c 75%, #1e1548 calc(75% + 1px), #1e1548 100%);
  color: var(--color-grey-dark3);
  font-family: var(--font-cover); }
  .backpage__content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border: 0.15rem solid var(--color-golden);
    padding: 0.5rem; }
  .backpage__quotes {
    font-size: 4rem;
    font-weight: 300;
    font-family: var(--font-cover); }
    @media only screen and (max-width: 56.25em) {
      .backpage__quotes {
        font-size: 2rem; } }

.user_profile {
  display: flex;
  border: 0.5rem solid transparent;
  border-image: url("../img/assets/blackboardborderimg.jpg") 25 round;
  background-image: linear-gradient(#181818, #404040); }
  .user_profile__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__container {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem; } }
  .user_profile__card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    grid-auto-rows: max-content;
    justify-items: center;
    font-size: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__card {
        grid-row-gap: 0.5rem;
        font-size: 0.7rem; } }
  .user_profile__image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    align-self: center;
    border: 0.1rem solid var(--color-golden);
    padding: 0.5rem;
    object-position: top center; }
    @media only screen and (max-width: 56.25em) {
      .user_profile__image {
        width: 9rem;
        height: 9rem; } }
  .user_profile__name {
    font-family: var(--font-signature);
    color: var(--color-golden);
    text-transform: capitalize; }
