*{
    color: white;
}

div.my-page{
    /* background-image: radial-gradient( circle,  rgb(218, 165, 9) 0%, rgba(255,145,83,1) 90% ); */
    /* background-image: radial-gradient( circle,  rgba(223,91,91,1) 0%, rgba(255,209,110,1) 100.2% ); */
    background-image: url('/img/collegebg2.jpg');

}
#book{
    margin-top: 5%;
    margin-bottom: 5%;
}
