@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Great+Vibes&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&family=Sail&display=swap");
:root {
  --font-signature: "Sail", cursive;
  --font-quotes: "Euphoria Script", cursive;
  --font-cover: "Great Vibes", cursive;
  --font-normal: "Nunito", sans-serif;
  --color-grey-light1: #d8d8d8;
  --color-grey-light2: #ebebeb;
  --color-grey-light3: #fafafa;
  --color-grey-dark1: #616161;
  --color-grey-dark2: #464646;
  --color-grey-dark3: #2e2e2e;
  --color-primary: #003a6a;
  --shadow: 5px 5px 2rem 9px var(--color-grey-light2);
  --shadow2: 5px 1px 1rem 10px var(--color-grey-light1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--font-normal);
  font-size: 62.5%;
  height: 100vh;
  display: grid;
  color: var(--color-grey-dark3);
  grid-template-columns: repeat(12, 1fr);
  background: var(--color-grey-light3); }

.main-content {
  grid-column: 2/-2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.book {
  box-shadow: var(--shadow); }

.page {
  padding: 1rem;
  background-color: white;
  box-shadow: var(--shadow2); }

.coverpage {
  background: linear-gradient(123deg, #2e99b0 0%, #2e99b0 40%, #fcd77f calc(40% + 1px), #fcd77f 60%, #ff2e4c calc(60% + 1px), #ff2e4c 75%, #1e1548 calc(75% + 1px), #1e1548 100%);
  color: var(--color-grey-dark3);
  font-family: var(--font-cover); }
  .coverpage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    line-height: 1.5;
    word-spacing: 7px;
    border: 0.15rem solid #d4af37; }
  .coverpage__logo {
    width: 10rem;
    height: auto; }
  .coverpage__heading {
    padding: 0;
    font-size: 6rem;
    font-weight: 300; }
    .coverpage__heading-sub {
      font-size: 3rem; }
