.book {
	box-shadow: var(--shadow);
	background-image: url('../img/assets/woodenboardbg.jpg');
}

.page {
	padding: 1rem;
	box-shadow: var(--shadow2);

	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/arches.png");
	@media only screen and (max-width: $bp-medium) {
		padding: 0.5rem;
	}
}


.quotes-page{
	box-shadow: var(--shadow2);
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}