.menu-bar{
    z-index: 2;
    grid-column: 2/-2;
    grid-row: 1/2;
    justify-self: center;
    @media only screen and (max-width: $bp-medium) {
        grid-row: 2/3;
    }
    
    &__button{
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        color: white;
        @media only screen and (max-width: $bp-medium) {
			padding: 0.25rem 1.25rem;
            font-size: 1rem;
		}
    }

    &__box{
        padding: 0.5rem 0;
        color: white;
        width: 3rem;
        border: 1px solid white;
        background-color: #181818;
        @media only screen and (max-width: $bp-medium) {
			padding: 0.5rem 0;
            width: 3rem;
		}
    }

    button{
        background: none;
        border: none;
    }
}

//added controls to menubar
