.quotes{
	background-image: url(../img/assets/quotesbg1.png);
    overflow-y: scroll;
    

    &__container:nth-of-type(odd){
        display: flex;
        flex-grow: 0;
        color: white;
        background-color: #075E54;
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
        margin: 0.5rem 0;
        border-radius: 0px 5px 5px 5px;
        float: left;
        width: 22rem;
        @media only screen and (max-width: $bp-medium) {
			width: 12rem;
            font-size: 0.7rem;
		}
    }

    &__container:nth-of-type(even){
        display: flex;
        flex-grow: 0;
        color: white;
        background-color: #075E54;
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
        margin: 0.5rem 0;
        border-radius: 5px 0px 5px 5px;
        float: right;
        width: 22rem;
        @media only screen and (max-width: $bp-medium) {
			width: 12rem;
            font-size: 0.7rem;
		}
    }

}

.quotes__container__author{
    color: #e68200;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    @media only screen and (max-width: $bp-medium) {
        padding-bottom: 0.2rem;
    }
}

// #e68200, #8b7add, #e67072, #6bcbef, #91ab01,#00b33e, #72cc92