$bp-largest: 75em; //1200px / 16px = 75%
$bp-large: 68.75em; //1100px / 16px = 68.75%
$bp-medium: 56.25em; //900px / 16px = 56.25%
$bp-small: 37.5em; //600px / 16px = 37.5%
$bp-smallest: 31.25em; //500px / 16px = 31.25%
